nav {
  background-color: rgb(19, 19, 19);
  padding: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

nav ul li {
  font-size: 22px;
  margin: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: background-color 0.4s;
  border-radius: 13px;
  padding: 13px 20px;
}

nav ul li a:hover {
  color: white;
  background-color: red;
}


footer {
  background-color: rgba(19, 19, 19, 0.726);
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%; 
}
